@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 19 0% 13.5%;
    --foreground: 0 0% 98%;
    --card: 19 0% 13.5%;
    --card-foreground: 0 0% 98%;
    --popover: 19 0% 13.5%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 2% 20%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  ::-webkit-scrollbar {
    @apply h-3 w-1.5 bg-primary/60;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary;
    -webkit-border-radius: 1ex;
  }

  ::-webkit-scrollbar-corner {
    @apply bg-primary;
  }
}

@layer utilities {
  .text-h {
    @apply text-transparent bg-clip-text bg-gradient-to-t from-black to-zinc-500 dark:from-zinc-400 dark:to-white px-px;
  }

  .text-h1 {
    @apply leading-none text-5xl sm:text-6xl lg:text-7xl -tracking-wide lg:leading-[5rem] font-black;
  }

  .text-h2 {
    @apply text-[26px] sm:text-4xl font-bold text-h;
  }

}